@import "../main.css";

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: var(--font-size);
}

input, textarea, #submit {
    font-family: wittgenstein-regular, serif;
    font-size: 1rem;

    resize: none;
    height: 2rem;
    padding: 0.6rem 0.6rem;

    background-color: var(--form-field-color);
    border: solid 2px var(--form-field-border);
    color: var(--text-color);
}

input:invalid, textarea:invalid {
    border-color: var(--invalid-border-color);
    border-width: 2px;
}

#comments {
    height: 20vh;
}

#submit {
    color: var(--submit-color);
    margin: 2.5vh 0;
    height: 6vh;
    width: auto;
    background-color: var(--submit-background-color);
    font-size: 1.3rem;
    border: solid 2px var(--submit-border);
}

error-msg {
    color: var(--invalid-text-color);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    animation-name: error-fade;
    animation-delay: 3s;
    animation-duration: 3s;
}

@keyframes error-fade {
    from{color: var(--invalid-text-color);}
    to{color: rgba(0, 0, 0, 0);}
}

required-mark {
    color: var(--invalid-text-color);
}

#char-count {
    text-align: end;
}