@import "../main.css";

main {
    display: grid;
    margin: 0;
    grid-template-rows: 1fr auto auto auto auto auto;
    grid-template-columns: 40vw 40vw;
    gap: var(--grid-gap, 10px);
    grid-template-areas: 
        "coding-tools-title coding-tools-title "
        "zoom75-img qk80-mk2"
        "mac-air-img mac-air"
        "digital-art-tools-title digital-art-tools-title"
        "xp-pen-img xp-pen"
        "ipad-img ipad"
}

main {
    img {
        width: var(--img-width-twocol, 400px);
        height: var(--img-height-twocol, 300px);
    }
}

#coding-tools-title {
    grid-area: coding-tools-title;
}

#zoom75-img {
    grid-area: zoom75-img;
}

#qk80-mk2 {
    grid-area: qk80-mk2;
}

#mac-air-img {
    grid-area: mac-air-img;
}

#mac-air {
    grid-area: mac-air;
}

#digital-art-tools-title {
    grid-area: digital-art-tools-title;
}

#xp-pen-img {
    grid-area: xp-pen-img;
}

#xp-pen {
    grid-area: xp-pen;
}

#ipad-img {
    grid-area: ipad-img;
}

#ipad {
    grid-area: ipad;
}