@font-face {
    font-family: wittgenstein-regular;
    src: url(/styles/fonts/Wittgenstein-Regular.ttf);
}

@font-face {
    font-family: wittgenstein-semibold-italic;
    src: url(/styles/fonts/Wittgenstein-SemiBoldItalic.ttf);
}

:root {
    --text-margin: 0rem 0rem 1rem 0rem;
    --text-font-size: 1.2rem;
    --text-line-height: 1.2em;
}

h1,h2,h3,h4 {
    font-family: wittgenstein-semibold-italic;
    margin: var(--text-margin);
    margin-bottom: 0.5rem;
    line-height: var(--text-line-height);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin: var(--text-margin);
    font-size: var(--text-font-size);
}