@font-face {
    font-family: wittgenstein-regular;
    src: url(/styles/fonts/Wittgenstein-Regular.ttf);
}

@font-face {
    font-family: wittgenstein-semibold-italic;
    src: url(/styles/fonts/Wittgenstein-SemiBoldItalic.ttf);
}

:root {
    --main-font: wittgenstein-regular;
    --header-font: wittgenstein-semibold-italic;

    --text-margin: 0rem 0rem 1rem 0rem;
    --text-font-size: 1.2rem;
    --text-line-height: 1.2em;
    --bottom-margin: 0.5rem;
}

h1,h2,h3,h4 {
    font-family: var(--header-font, serif);
    margin: var(--text-margin, 10px);
    margin-bottom: var(--bottom-margin, 10px);
    line-height: var(--text-line-height, 20px);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin: var(--text-margin, 10px);
    font-size: var(--text-font-size, 15px);
}