:root {
    --img-width: 80vw;
    --img-maxheight: 80vw;
    --header-img-height: 50vh;
    --header-img-width: 80vw;
    --page-icon-dim: 2rem;
    --horizontal-rule-maxheight: 60vh;
}

img {
    object-fit: cover;
    margin: 0px;

}

body {
    img {
        width: var(--img-width, 400px);
    }
}


header {
    img {
        width: var(--header-img-width, 800px);
        height: var(--header-img-height, 400px);
    }
}

#page-icon {
    padding: 0px;
    margin: 0px;
    width: var(--page-icon-dim, 20px);
    height: var(--page-icon-dim, 20px);
}