@import "var.css";
@import "images.css";
@import "header-paragraph.css";
@import "nav.css";
@import "interactables.css";
@import "adapt-screen.css";

@font-face {
    font-family: wittgenstein-regular;
    src: url(/styles/fonts/Wittgenstein-Regular.ttf);
}

@font-face {
    font-family: wittgenstein-semibold-italic;
    src: url(/styles/fonts/Wittgenstein-SemiBoldItalic.ttf);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
    justify-content: left;
    gap: var(--gap, 20px);

    box-sizing: border-box;
    padding: 0;
    border-width: 0;
    margin: var(--margin, 2vw 10vw);
    background-color: var(--bg-color, #FFF);
    color: var(--text-color, #000);
    font-family: var(--main-font), serif;
}

header {
    grid-area: header;
    margin-top: 4vh;
    position: relative;
}

main {
    grid-area: main;
}

footer {
    margin: 2rem 0;
    grid-area: footer;
    text-align: center;
}

hr {
    margin: var(--horizontal-rule-margin);
}

#filler-char {
    z-index: -1;
}


