@import "nav.css";
@import "images.css";
@import "header-paragraph.css";

 
@font-face {
    font-family: wittgenstein-regular;
    src: url(/styles/fonts/Wittgenstein-Regular.ttf);
}

@font-face {
    font-family: wittgenstein-semibold-italic;
    src: url(/styles/fonts/Wittgenstein-SemiBoldItalic.ttf);
}

:root {
    --bg-color: #EEEDE8;
    --text-color: #292626;
    --margin: 2vw 10vw;

    --horizontal-rule-margin: 0rem 0rem 2rem;
    --horizontal-rule-maxheight: 60vh;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;

    box-sizing: border-box;
    padding: 0;
    border-width: 0px;
    margin: var(--margin);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: wittgenstein-regular;
}

header {
    grid-area: "header";
}

main {
    grid-area: "main";
}

footer {
    grid-area: "footer";
}

hr {
    margin: var(--horizontal-rule-margin);
}

filler-char {
    z-index: -1;
}

@media(max-width: 700px) {
    nav {
        ul {
            gap: 2vw;
    }
    }
}

