@import "images.css";
@import "header-paragraph.css";
@import "nav.css";

 
@font-face {
    font-family: wittgenstein-regular;
    src: url(/styles/fonts/Wittgenstein-Regular.ttf);
}

@font-face {
    font-family: wittgenstein-semibold-italic;
    src: url(/styles/fonts/Wittgenstein-SemiBoldItalic.ttf);
}

:root {
    --bg-color: #EEEDE8;
    --text-color: #292626;
    --margin: 2vw 10vw;
    --main-font: wittgenstein-regular;
    --gap: 0.5rem;

    --horizontal-rule-margin: 0rem 0rem 2rem;
    --horizontal-rule-maxheight: 60vh;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: var(--gap, 20px);

    box-sizing: border-box;
    padding: 0px;
    border-width: 0px;
    margin: var(--margin, 2vw 10vw);
    background-color: var(--bg-color, #FFF);
    color: var(--text-color, #000);
    font-family: var(--main-font, serif);
}

header {
    margin-top: 4vh;
    grid-area: "header";
}

main {
    grid-area: "main";
}

footer {
    grid-area: "footer";
}

hr {
    margin: var(--horizontal-rule-margin);
}

a {
  box-shadow: inset 0 0 0 0 #c1c1a5;
  color: #3a422a;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
a:hover {
  color: #3a422a;
  box-shadow: inset 200px 0 0 0 #c0c19e;
}

filler-char {
    z-index: -1;
}



