nav {
    display: block;
    margin-bottom: 0;
    font-size: var(--font-size, 15px);
}

#mini-page-links {
    display: none;
}

#main-page-links {
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: left;
    align-items: center;
    gap: var(--nav-gap, 10px);
}



@media(max-width: 960px) {
    #main-page-links{
        display: none;
    }

    nav {
        margin-bottom: 2rem;
    }

    #mini-page-links {
        padding-left: 0;
        justify-content: left;
        list-style: none;
        max-width: 80vw;
        gap: 0.25em;
        row-gap: 0.5em;

        display: grid;
        margin: 0;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 6em 4em 8em 4em 4em;
        grid-template-areas:
            "nav-icon filler1 index filler2 projects"
            "articles filler3 inspirations filler4 tools"
        ;
    }

    #header-img {
        width: var(10px) !important;
        height: var(10px) !important;
    }
}

@media(max-width: 620px) {
    #main-page-links{
        display: none;
    }

    nav {
        margin-bottom: 2rem;
    }

    #mini-page-links {
        padding-left: 0;
        justify-content: left;
        list-style: none;
        max-width: 80vw;
        gap: 0.25em;
        row-gap: 0.5em;

        display: grid;
        margin: 0;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 4em 2em 7em 2em 4em;
        grid-template-areas:
            "nav-icon filler1 index filler2 projects"
            "articles filler3 inspirations filler4 tools"
        ;
    }

    #header-img {
        width: 10px !important;
        height: 10px !important;
    }
}

#nav-icon {
    grid-area: nav-icon;
}

#filler1 {
    grid-area: filler1;
}

#index {
    grid-area: index;
}

#projects {
    grid-area: projects;
}

#filler2 {
    grid-area: filler2;
}

#articles {
    grid-area: articles;
}

#inspirations {
    grid-area: inspirations;
}

#filler3 {
    grid-area: filler3;
}

#tools {
    grid-area: tools;
}

#filler4 {
    grid-area: filler4;
}