@import "main.css";

:root {
    --img-width: 35vw;
    --img-height: 30vw;
    --header-img-height: 50vh;
    --header-img-width: 80vw;
    --col-gap: 10vw;
    --row-gap: 2rem;
}

main {
    display: grid;
    margin: 0;
    grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr auto;
    column-gap: var(--col-gap, 10px);
    row-gap: var(--row-gap, 2px);
    grid-template-areas: 
        "alert-cali-title   alert-cali-title"
        "alert-cali-p1      alert-cali-img1"
        "alert-cali-img2    alert-cali-img1"
        "alert-cali-img2    alert-cali-img1"
        "alert-cali-img2    alert-cali-p2"
        /* ". ."
        ". ."
        "sweet-sugar-title  sweet-sugar-title"
        "sweet-sugar-p1     sweet-sugar-img1"
        "sweet-sugar-img2   sweet-sugar-img1"
        "sweet-sugar-img2   sweet-sugar-img1"
        "sweet-sugar-img2   sweet-sugar-p2"; */
}

main {
    img {
        width: var(--img-width, 400px);
        height: var(--img-height, 300px);
    }
}

header {
    img {
        width: var(--header-img-width, 800px);
        height: var(--header-img-height, 400px);
    }
}


#alert-cali-title {
    grid-area: alert-cali-title;
}

#alert-cali-p1{
    grid-area: alert-cali-p1;
}

#alert-cali-img1 {
    grid-area: alert-cali-img1;
}

#alert-cali-img2 {
    grid-area: alert-cali-img2;
}

#alert-cali-p2 {
    grid-area: alert-cali-p2;
}

#sweet-sugar-title {
    grid-area: sweet-sugar-title;
}

#sweet-sugar-p1 {
    grid-area: sweet-sugar-p1;
}

#sweet-sugar-img1 {
    grid-area: sweet-sugar-img1;
}

#sweet-sugar-img2 {
    grid-area: sweet-sugar-img2;
}

#sweet-sugar-p2 {
    grid-area: sweet-sugar-p2;
}
